@charset "utf-8";
body
{
	font-family: Verdana;
}
	
table, td, th
{
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 5px;
}
	

.sort_class
{
    cursor:pointer;
}
	
.wishlist
{
	cursor:pointer;
}
	